/*CSS Reset*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Teko', sans-serif;
}

.me {
	width: 250px;
}

/*.home {
	background-color: olivedrab;
}*/

/*.message {
	height: 16px;
	flex-wrap: wrap;
}*/