body {
	background-color: #002233;
}

nav {
	font-family: 'Monoton', sans-serif;
	color: white;
	background-color: #E09600;
}

h1 {
	font-family: 'Monoton', sans-serif;
	color: #E09600;
}

h5 {
	font-family: 'Tektur', sans-serif;
	color: white;
}

#fa-logos a {
	text-decoration: none;
	color: #E09600;
}

#fa-logos a:hover {
	opacity: 0.5;
}

p {
	font-family: 'Roboto', sans-serif;
}

.me {
	width: 250px;
	border: 10px double #E09600;
	animation-name: me-border;
	animation-duration: 40s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes me-border {
	0% {border-color: #E09600}
	10% {border-color: white}
	20% {border-color: #E09600}
	30% {border-color: white}
	40% {border-color: #E09600}
	50% {border-color: white}
	60% {border-color: #E09600}
	70% {border-color: white}
	80% {border-color: #E09600}
	90% {border-color: white}
	100% {border-color: #E09600}
}

#project-description {
	border: 2px dotted #E09600;
	border-radius: 10px;
	position: relative;
}

#project-description h3 {
	color: #E09600;
}

#project-description p {
	color: white;
}

.link1, .link3 {
	position: absolute;
	bottom: 10px;
	right: 15px;
	color: #E09600;
}

.link2, .link4 {
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: #E09600;
}

.blog-img {
	min-width: 330px;
}

#tools h3 {
	font-family: 'Tektur', sans-serif;
	color: white;
	font-weight: bold;
}

form {
	width: 350px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

form > button {
	background-color: #E09600;
	color: white;
	border: none;
	border-radius: 3px;
	box-shadow: 0 0 1px 1px white ;
}

form > button:hover {
	opacity: 0.5;
}

footer {
	background-color: #E09600;
	font-family: 'Roboto', sans-serif;
	color: white;
}



